<%- include('../port/layout-start', {title: title}) %>
<%- include('../port/menu') %>

<h1><%= title %></h1>

<form class="form_reg" action="/api/users/login" method="post">
    <label class="login_form">Логин:</label>
    <input class="input_form" type="text" name="username" />
    <label class="login_form">Пароль:</label>
    <input class="input_form" type="password" name="password" />
    <input class="button_form" type="submit" value="Войти" />
</form>

<%- include('../port/layout-end') %>